---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About - Capstone Church">
	<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 mx-auto">
        <h4 class="mb-0">WELCOME TO</h4>
        <h1 class="fw-bold">CAPSTONE</h1>

        <hr>

        <p>We are so glad that you are here with us today. We would love to care and connect with you, so that you may experience God's love in a special way.</p>

        <p>At Capsone, we believe in helping people know God, find freedom, discover their purpose and make a differene with their lifes so you may step into a life of fulfillment and destiny in God!</p>

        <p>We look forward to meeting you at our Guest reception after our services. Our pastors and leaders would love to further introduce you and your family to our church and help you feel at home free.</p>

        <p>May you and your family be richly blessed through this Capstonian Experience!</p>

        <p>From our family to yours,</p>
        <h4 class="mb-0 fw-bold">Chaitanya Gera & Rebecca Janet</h4>
        <p>Lead Pastor</p>
      </div>
    </div>
  </div>
</Layout>
