---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About - Capstone Church">
	<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 mx-auto">
        <h4 class="mb-0">WELCOME TO</h4>
        <h1 class="fw-bold">CAPSTONE</h1>

        <h2 class="bg-dark text-white px-3 py-2">OUR PRAYER FOR YOU</h2>
        <h5>Ephesians 1:17-18</h5>

        <div class="mt-5">
          <h3 class="mb-0 cap-title">Know God</h3>
          <p class="fst-italic mb-5 text-secondary">
            "...That you may know him better"
          </p>

          <h3 class="mb-0 cap-title">Find Freedom</h3>
          <p class="fst-italic mb-5 text-secondary">
            "...That the eyes of your heart might be englightened"
          </p>

          <h3 class="mb-0 cap-title">Discover Purpose</h3>
          <p class="fst-italic mb-5 text-secondary">
            "...That you may know the hope to which he has called you"
          </p>

          <h3 class="mb-0 cap-title">Make A Difference</h3>
          <p class="fst-italic text-secondary">
            "...That you may grasp the immensity of this glorious way of life
            he has for his people"
          </p>
        </div>

        
      </div>
    </div>
  </div>
</Layout>
