---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Community - Capstone Church">
	<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 mx-auto">
        <h1 class="cap-title">COMMUNITY LIFE</h1>

        <hr>

        <p class="justify">Get connected with others in our family and experience the life and incredible unity of Captsone by joining a small group. Our small Groups meet at various locations for various purposes all over Hyderabad. There are also small groups for young adults and families with children. There's always a small group just right for you!</p>

        <p>We believe...</p>

        <ul class="list-group list-group-flush shadow justify">
          <li class="list-group-item">Small groups are a place to connect with others.</li>
          <li class="list-group-item">Small groups are a place to Protect each other through support and encouragement.</li>
          <li class="list-group-item">Small groups are a place to grow together by learning more about God and discovering your purpose.</li>
        </ul>

        <div class="card mb-5 shadow mt-5">
          <img src="/img/story/16.jpg" class="card-img-top" alt="PluginsImage">
          <div class="card-body text-white justify" style="background-color: #7b54cb;">
            <h4 class="text-white cap-title mb-5 mt-3">Plug - ins</h4>
            <p>These location based small groups meet in various homes as families for care and fellowship together. (Kondapur, Gachibowli, Nallagandla, Kukatpally)</p>
          </div>
        </div>

        <div class="card mb-5 shadow">
          <img src="/img/story/5.jpg" class="card-img-top" alt="PluginsImage">
          <div class="card-body text-white justify" style="background-color: #00a552">
            <h4 class="text-white cap-title mb-5 mt-3">Life Groups</h4>
            <p>Based on gender and age these groups are pirmary oriented towards fellowship and life long friendships. (Men, Women, Teens, Singles)</p>
          </div>
        </div>

        <div class="card mb-5 shadow">
          <img src="/img/story/7.jpg" class="card-img-top" alt="PluginsImage">
          <div class="card-body text-white justify" style="background-color: #301848">
            <h4 class="cap-title mb-5 mt-3">Focus Groups</h4>
            <p>Meeting twice a month these groups focus on prayer and in-depth bible study, learning fundamental doctrines and practicing evangelism. (Warriors, Divers, Beginners, Messengers)</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</Layout>
