---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Location - Capstone Church">
	<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 mx-auto">
        <h1 class="fw-bold">CONTACT</h1>

        <hr>

        <p>We would like to connect with you, know more about you and pray for you. Please do leave your information or prayer request with us! We will get in touch with you and update you about church.</p>

        <div>
          <small>Call us</small>
          <p class="mb-0">+91 96420 33131</p>
          <p>+91 95506 78236</p>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-6 my-3">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfVq3NhUO-xiN7zBUK3WrYmoSLe--XF3F4AYVMSV-0wYh4HNw/viewform" target="_blank" class="btn btn-lg btn-primary w-100">Connect With Us</a>
          </div>
          
          <div class="col-sm-12 col-md-6 my-3">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSenGhBzlQ8Wg7cqLRcoOnX5VolkkWKv-d4Ty1JxUrwIrSK6Vg/viewform" target="_blank" class="btn btn-lg btn-primary w-100">Prayer / Praise Form</a>
          </div>
          
          <div class="col-sm-12 col-md-6 my-3">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScyOlJ2LR8QN7mMt7MsxLHuoWTCi1-z9gfFdLOxz9GsUZrFjg/viewform" target="_blank" class="btn btn-lg btn-primary w-100">Dream Team</a>
          </div>
          
          <div class="col-sm-12 col-md-6 my-3">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeRpoQD0rp9O3mQ5Ijwoo83uP2j0OgBx1_YNcnjmGSTFc91Mg/viewform" target="_blank" class="btn btn-lg btn-primary w-100">Growth Track</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</Layout>
