---
import Layout from "../layouts/Layout.astro";
---

<style>
  #hero {
    background: url(/img/storyimage.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background: linear-gradient(
      -45deg,
      #ee7752,
      #2600ff,
      #e73c7e,
      #23a6d5,
      #23d5ab,
      #000000
    );
    background-size: 400% 400%;
    animation: gradient 10s ease infinite; */
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  #hero-text {
    animation: fadeIn 8s;
  }

  .fade-in {
    animation: fadeIn 8s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.8;
    }
  }
</style>

<Layout title="Capstone Church">
  <div class="container-fluid" style="margin-top: -3rem;">
    <div class="row shadow" id="hero">
      <div class="col-sm-12 col-md-4 bg-white fade-in" style="opacity: 0.8;">
        <div
          class="my-4 me-sm-0 me-md-4 text-center"
          style="padding-top: 5rem; padding-bottom: 5rem;"
        >
          <img
            src="/img/cap-16.jpg"
            class="img-fluid rounded"
            width="256"
            alt="capstone"
          />
          <div class="mt-5">
            <h1 class="text-uppercase cap-title" style="font-size: 5.1rem;">
              people
            </h1>
            <h3 class="text-uppercase">becoming the <span>church</span></h3>
            <h3 class="text-uppercase" style="letter-spacing: 1.8px;">
              on the <span>mission</span> with
            </h3>
            <h1
              class="text-uppercase cap-title"
              style="font-size: 5.1rem; letter-spacing: 18px;"
            >
              JESUS
            </h1>
            <h3 class="text-uppercase" style="letter-spacing: 5px;">
              to help <span>heal</span> the
            </h3>
            <h1
              class="text-uppercase cap-title"
              style="font-size: 5.1rem; letter-spacing: 8px;"
            >
              world
            </h1>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 bg-white fade-in" style="opacity: 0.8;">
        <div class="p-5">
          <h5 class="fw-bold">Upcoming Events</h5>
          <div class="row">
            <div class="col-sm-12 col-md-6 mb-4">
              <img class="w-100 rounded" src="img/ev-1.jpg" alt="ev-1" />
            </div>
            <div class="col-sm-12 col-md-6 mb-4">
              <img class="w-100 rounded" src="img/ev-3.jpg" alt="ev-3" />
            </div>
            <div class="col-sm-12 col-md-6 mb-4">
              <img class="w-100 rounded" src="img/ev-4.jpg" alt="ev-4" />
            </div>
            <div class="col-sm-12 col-md-6 mb-4">
              <img class="w-100 rounded" src="img/ev-2.jpg" alt="ev-2" />
            </div>
            <div class="col-sm-12 col-md-6 mb-4">
              <img class="w-100 rounded" src="img/ev-6.jpg" alt="ev-6" />
            </div>
            <div class="col-sm-12 col-md-6 mb-4">
              <img class="w-100 rounded" src="img/ev-7.jpg" alt="ev-7" />
            </div>
            <div class="col-sm-12 col-md-6 mb-4">
              <img class="w-100 rounded" src="img/ev-8.jpg" alt="ev-8" />
            </div>
            
            <div class="col-sm-12 col-md-6 mb-4">
              <img class="w-100 rounded" src="img/ev-5.jpg" alt="ev-5" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mb-5 mt-3">
    <div class="row mt-5 py-5">
      <div class="col-sm-12 col-md-6 mx-auto justify">
        <h4 class="fw-bold">Hi,</h4>
        <p>
          We are so glad that you are here with us today. We would love to care
          and connect with you, so that you may experience God's love in a
          special way.
        </p>

        <p>
          At Capsone, we believe in helping people know God, find freedom,
          discover their purpose and make a differene with their lifes so you
          may step into a life of fulfillment and destiny in God!
        </p>

        <p>
          We look forward to meeting you at our Guest reception after our
          services. Our pastors and leaders would love to further introduce you
          and your family to our church and help you feel at home free.
        </p>

        <p>
          May you and your family be richly blessed through this Capstonian
          Experience!
        </p>

        <p>From our family to yours,</p>
        <h4 class="mb-0 fw-bold">Chaitanya Gera & Rebecca Janet</h4>
        <p>Lead Pastor</p>
      </div>
    </div>

    <hr />

    <div class="row my-5">
      <div class="col-sm-12 col-md-6 d-flex align-items-center">
        <div>
          <h2 class="bg-dark text-white px-3 py-2">SUNDAY</h2>
          <h5>Celebrations</h5>

          <div class="mt-4">
            <div class="">
              <img
                src="img/clock.svg"
                alt="clock"
                class="me-2 mb-3"
                width="32"
              />
              <div class="mb-5">
                <h5 class="fw-bold mb-0">English Service</h5>
                <p class="mb-0">10 AM.</p>
              </div>
              <div class="mb-5">
                <h5 class="fw-bold mb-0">Hindi Service</h5>
                <p class="mb-0">12:30 PM.</p>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <img
                src="img/youtube-out.svg"
                alt="youtube"
                class="me-2"
                width="32"
              />
              <p class="mb-0">
                <a href="https://www.youtube.com/c/CapstoneChurch"
                  >Watch us live</a
                > on YouTube
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 d-flex align-items-center">
        <div class="row my-4">
          <div class="col-sm-12 col-md-6 mb-3">
            <img
              src="/img/story/4.jpg"
              alt="sunday service"
              class="img-fluid shadow-sm rounded"
            />
          </div>
          <div class="col-sm-12 col-md-6 mb-3">
            <img
              src="/img/story/13.jpg"
              alt="sunday service"
              class="img-fluid shadow-sm rounded"
            />
          </div>
          <div class="col-12 justify bg-white shadow p-5 mb-4">
            <p>
              Our services are a celebration of our awesome God who loves and
              cares for us. Experience this vibrant atmosphere of God's presence
              and power through our pre-service prayer, passionate worship,
              dynamic preaching and a time of receving personal ministry.
            </p>

            <p>
              Catch our sermon series and be transformed as you hear the word of
              God from our pastors and guest speakers from all over the world.
            </p>
          </div>
          <div class="col-12">
            <h5 class="fw-bold">Youth Service</h5>
          </div>
          <div class="col-sm-12 col-md-6 mb-3">
            <img
              src="/img/story/19.jpg"
              alt="sunday service"
              class="img-fluid shadow-sm rounded"
            />
          </div>
          <div class="col-sm-12 col-md-6 mb-3">
            <img
              src="/img/story/20.jpg"
              alt="sunday service"
              class="img-fluid shadow-sm rounded"
            />
          </div>
          <div class="col-12">
            <h5 class="fw-bold">Hindi Service</h5>
          </div>
          <div class="col-sm-12 col-md-6 mb-3">
            <img
              src="/img/story/21.jpg"
              alt="sunday service"
              class="img-fluid shadow-sm rounded"
            />
          </div>
          <div class="col-sm-12 col-md-6 mb-3">
            <img
              src="/img/story/22.jpg"
              alt="sunday service"
              class="img-fluid shadow-sm rounded"
            />
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div class="row my-5">
      <div class="col-sm-12 col-md-6 d-flex align-items-center">
        <div>
          <h2 class="bg-dark text-white px-3 py-2">MID-WEEK</h2>
          <h5>Celebrations</h5>

          <div class="mt-4">
            <div class="d-flex align-items-center">
              <img src="img/clock.svg" alt="clock" class="me-2" width="32" />
              <p class="mb-0">7 PM.</p>
            </div>
            <div class="d-flex align-items-center">
              <img
                src="img/youtube-out.svg"
                alt="youtube"
                class="me-2"
                width="32"
              />
              <p class="mb-0">
                <a href="https://www.youtube.com/c/CapstoneChurch"
                  >Watch us live</a
                > on YouTube
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 d-flex align-items-center">
        <div class="row my-4">
          <div class="col-sm-12 col-md-6 mb-3">
            <img
              src="/img/story/1.jpg"
              alt="midweek service"
              class="img-fluid shadow-sm rounded"
            />
          </div>
          <div class="col-sm-12 col-md-6 mb-3">
            <img
              src="/img/story/14.jpg"
              alt="midweek service"
              class="img-fluid shadow-sm rounded"
            />
          </div>
          <div class="col-12 justify bg-white shadow p-5">
            <p>
              Our mid-week services are designed to help people to continue to
              experience the presence of God throughout the week and find
              inspiration to grow.
            </p>

            <p>
              Online telugu service every wednesday at 7PM only on Facebook and
              YouTube. Monthly fasting service both in-person & online on
              alternative Fridays at 7PM.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
