---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mission - Capstone Church">
	<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 mx-auto">
        <h1 class="fw-bold cap-title">JOIN THE MISSION</h1>

        <hr>

        <p class="justify">One of the top values of Capstone, is to be on the mission with Jesus through generosity, prayer and by being involved in the missions. You can be on the missions with us by...</p>

        <div class="card mb-5 mt-5 shadow">
          <div class="card-body text-white justify" style="background-color: #7b54cb;">
            <h4 class="cap-title mb-5">Going</h4>
            <p>Join the field missionaris and gain first hadn experience of missions through local communicty outreaches, weekend mission trips within 200 KM radius of Hyderabad and short-term missions across India and neighbouring countries.</p>
          </div>
        </div>

        <div class="card mb-5 shadow">
          <div class="card-body text-white justify" style="background-color: #00a552">
            <h4 class="cap-title mb-5">Sharing</h4>
            <p>Join hands in resource sharing for child Education, missionary survival support, widow fund, ministry prepartion and Medical aid locally, nationally and globally. Partner in the mission through your generosity.</p>
          </div>
        </div>

        <div class="card mb-5 shadow">
          <div class="card-body text-white justify" style="background-color: #301848">
            <h4 class="cap-title mb-5">Praying</h4>
            <p>Join with us to pray for local and global missions by committing to set aside a time everyday to pray either by joining captone warriors or during your personal devotional time. Everyday for couple of minutes.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</Layout>
