---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mission - Capstone Church">
	<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 mx-auto">
        <h1 class="fw-bold">VISION</h1>

        <div class="text-center p-5 border bg-dark text-white rounded mt-5">
          <h2 class="fw-bold">PEOPLE</h2>
          <h5 class="text-secondary">BECOMING THE CHURCH</h5>
          <h5 class="text-secondary">ON THE MISSION WITH</h5>
          <h2 class="fw-bold">JESUS</h2>
          <h5 class="text-secondary">TO HELP HEAL THE</h5>
          <h2 class="fw-bold">WORLD</h2>
        </div>

      </div>
    </div>
  </div>
</Layout>
