<div>
  <a data-bs-toggle="modal" href="#exampleModal" >
    <img src="/img/menu.svg" alt="menu" width="32">
  </a>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header bg-dark text-white">
          <h5 class="modal-title" id="exampleModalLabel">CAPSTONE</h5>
          <button type="button" class="btn-close  btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body bg-dark">
          <h5>
            <a href="/" class="text-decoration-none text-white">Home</a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>