<div>
  <a data-bs-toggle="modal" href="#menuModal" >
    <img src="/img/menu.svg" alt="menu" width="32">
  </a>
  
  <div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="menuModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body bg-dark">
          <div class="d-flex justify-content-between align-items-center px-5 pt-5 pb-3">
            <h5 class="text-white cap-title" id="menuModalLabel">CAPSTONE</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <ul class="nav flex-column p-5" style="font-size: large;">
            <li class="nav-item">
              <a href="/" class="nav-link text-white">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">About</a>
              <ul class="dropdown-menu w-100">
                <li><a class="dropdown-item" href="/about">About Capstone</a></li>
                <li><a class="dropdown-item" href="/vision">Vision</a></li>
                <li><a class="dropdown-item" href="/mission">Mission</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="/community" class="nav-link text-white">Community</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">Dream Team</a>
              <ul class="dropdown-menu w-100">
                <li>
                  <a class="dropdown-item" href="/join-the-team">Join the team</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/join-the-mission">Join the mission</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="/location" class="nav-link text-white">Location</a>
            </li>
            <li class="nav-item">
                <a href="/contact" class="nav-link text-white">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfVq3NhUO-xiN7zBUK3WrYmoSLe--XF3F4AYVMSV-0wYh4HNw/viewform" >Connect with us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSenGhBzlQ8Wg7cqLRcoOnX5VolkkWKv-d4Ty1JxUrwIrSK6Vg/viewform" >Prayer / Praise Request</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScyOlJ2LR8QN7mMt7MsxLHuoWTCi1-z9gfFdLOxz9GsUZrFjg/viewform"  >Dream team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeRpoQD0rp9O3mQ5Ijwoo83uP2j0OgBx1_YNcnjmGSTFc91Mg/viewform" >growth track</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>